{{ "{% extends 'admin/shared/layout/base.html.twig' %}" }}
{{ "{% block title 'Listing #{entity}' | title %}" | raw }}

{{ "{% block header %}" }}
    {{ "<twig:Dashlite:Layout:Header title='Listing #{entity}'>" | raw }}
        {{ "<twig:Dashlite:Button:HeaderLink name='Ajouter' path='{{ path('admin_#{domain}_#{entity}_new') }}' icon='plus' />" | raw }}
    {{ "</twig:Dashlite:Layout:Header>" }}
{{ "{% endblock %}" }}

{{ "{% block content %}" }}
    {{ "<div class='row g-gs mb-4'>" }}
        {{ "<div class='col-12'>" }}
            {{ "<twig:Dashlite:Table:Responsive :data='data' emptyStatePath='{{ path('admin_#{domain}_#{entity}_new') }}' emptyStateAction='Ajouter un.e #{entity}'>" | raw }}
                {{ "{% block header %}" }}
                   {{ "<twig:Dashlite:Table:Responsive:Column value='Id' col />" }}
                   {{ "<twig:Dashlite:Table:Responsive:Column tools />" }}
                {{ "{% endblock %}" }}

                {{ "<twig:Dashlite:Table:Responsive:Column :value='item.id' />" }}
                {{ "<twig:Dashlite:Table:Responsive:Column :tools='true'>" }}
                    {{ "<twig:Dashlite:Table:Responsive:Tools>" }}
                        {{ "<twig:Dashlite:Table:Responsive:Action path='{{ path('admin_#{domain}_#{entity}_edit', {id: item.id}) }}' icon='edit' />" | raw }}
                        {{ "<twig:Dashlite:Table:Responsive:Action>" }}
                            {{ "<twig:Dashlite:Button:Delete path='{{ path('admin_#{domain}_#{entity}_delete', {id: item.id}) }}' :id='item.id' />" | raw }}
                        {{ "</twig:Dashlite:Table:Responsive:Action>" }}
                    {{ "</twig:Dashlite:Table:Responsive:Tools>" }}
               {{ "</twig:Dashlite:Table:Responsive:Column>" }}
            {{ "</twig:Dashlite:Table:Responsive>" }}
        {{ "</div>" }}
    {{ "</div>" }}
{{ "{% endblock %}" }}
